blas_impl:
- openblas
- mkl                      # [x86 or x86_64]
- blis                     # [x86 or x86_64]
- accelerate               # [osx]

blas_impl_lib:
- libopenblas.so.0         # [linux]
- libopenblas.0.dylib      # [osx]
- openblas.dll             # [win]

- libmkl_rt.so             # [linux64]
- libmkl_rt.dylib          # [osx and x86_64]
- mkl_rt.2.dll             # [win64]

- libblis.so.4             # [linux64]
- libblis.4.dylib          # [osx and x86_64]
- libblis.4.dll            # [win64]

- libvecLibFort-ng.dylib   # [osx]

blas_default_impl:
- openblas                 # [not win]
- mkl                      # [win]

zip_keys:
-
  - blas_impl
  - blas_impl_lib
